/* ***** Police d'écriture ***** */

@font-face {
    font-family:"Circular Book";
    src: url("../font/lineto-circular-pro-book.ttf");
}

@font-face {
    font-family:"Circular Book";
    font-style: italic;
    src: url("../font/lineto-circular-pro-bookItalic.ttf");
}

@font-face {
    font-family:"Circular Book";
    font-weight: bold;
    src: url("../font/lineto-circular-pro-bold.ttf");
}

/* ***** Elements principaux ***** */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Circular book", sans-serif;
    font-style: normal;
    color: #1e2023;
    font-size: 15px;
    background-color: #e5e5e5;
}

body {
    display: table;
    width: 100%;
}

a:link {
    color: #dd7922;
    text-decoration: none;
}

a:visited {
    color: #dd7922;
}

/* *****  H E A D E R  ***** */

header {
    position: fixed;
    top:0px;
    left: 0px;
    right:0px;
    padding: 6.5px;
    z-index: 0;
    background-color: #dd7922;
}

header h1 {
    width: 120px;
    height: 26.5px;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

header h1 a:link {
    color: #fff;
    text-decoration: none;
}

header h1 a:visited {
    color: #fff;
    text-decoration: none;
}

/* *** Header/Nav *** */

header nav {
    position: fixed;
    top: 38px;
    right: -202px;
    width: 190px;
    background: #1e2023;
    padding: 5px;
    opacity: 0.9;
    text-align: center;
}

header label {
    position: fixed;
    right: 0px;
    top:0px;
    height:50px;
    width: 50px;
    display: block;
    z-index: 1;
}

header p {
    display: block;
}

header p.burger{
    position: fixed;
    right: -12px;
    top: 4px;
    height: 50px;
    width: 50px;
    z-index: 1;
    line-height: 1;
    font-size:2rem;
    color: #fff;
    content: '\2630';
}

header p.burger::before {
    content: '\2630';
}

header p.burgerchecked::before {
    content: '\2716';
}

header label::before {
    content: '\2630';
    line-height: 1;
    font-size:2rem;
    color: #fff;
}

header input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

header input[type="checkbox"]:checked + label::before {
    content: '\2716';
}

header input[type="checkbox"]:checked ~ nav {
    left: 0px;
}

header nav ul {
    list-style: none;
}

header nav ul a:link {
    display: block;
    padding: 10px;
    color: #fff;
}

header nav ul a:visited {
    color: #fff;
}

header nav ul a:hover {
    color: #dd7922;
    background-color: #fff;
}

nav ul li a.vousEtesIci {
    color: #dd7922;
    background-color: #fff;
}

/* *****  M A I N  ***** */

main {
    margin-top: 65px;
}

main section {
    padding: 10px;
    width: 100%;
    text-align: center;
}

main article {
    width: 100%;
}

section h2 {
    margin-bottom: 30px;
}

section p {
    width: 85%;
    margin: auto;
    margin-bottom: 18px;
}

/* *** Main/Qui sommes-nous ? *** */


/* *** Main/WindStore *** */

.windstore {
    background-color: #fff;
}


.windstore h2 {
    margin-top: 25px;
    margin-bottom: 30px;
}


/* *** Main/Logo Video *** */

.logoVideo video {
    display: block;
    margin: auto;
    margin-top: 15px;
}

.logoVideo canvas {
    display: block;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 20px;
}

/* *****  F O O T E R  ***** */

footer {
    display: table-row;
    height: 60px;
    padding: 10px;
    background-color: #1e2023;
    color: #e5e5e5;
    font-size: 10px;
    clear: both;
    text-align: center;
}

footer section {
    margin-top: 7px;
    display: block;
}

footer section img {
    width: 15px;
    display: inline-block;
}

footer section p {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

footer > p {
    margin-bottom: 10px;
}

.contactEmail {
    margin-right: 50px;
    width: 100px;
}

.contactBulle {
    width: 70px;
}

footer a:link {
    color: #e5e5e5;
}

footer a:visited {
    color: #e5e5e5;
}

.copyright a:link, .gitlab a:link {
    color: #dd7922;
}

.copyright a:visited, .gitlab a:visited {
    color: #dd7922;
}

/* *****  R E S P O N S I V E  M Q  ***** */

@media all and (min-width:800px) {
    
    /* ***  H E A D E R  *** */
    
    header p {
        display: none;
    }
    
    header nav ul a::before {
        content:""; 
    }
    
    header input[type="checkbox"]:checked ~ nav {
        left: initial;
    }
    
    header h1 {
        margin: inherit;
    }
    
    header nav {
        position: absolute;
        width:663px;
        height: auto;
        padding: 0px;
        left:135px;
        top: 0px;
        background-color: #dd7922;
        opacity: 1;
    }
    
    header nav ul li {
        float: left;
    }
    
    header nav ul li:hover {
        color: #dd7922;
        background-color: #fff;
    }
    
    /* ***  M A I N  *** */
    
    main h2 {
        font-size: 27px;
    }
    
    .nous  {
        width: 100%;
    }
    
    .nous article {
        display: inline-block;
        text-align: left;
        width: 100%;
    }
        
    .windstore article {
        display: inline-block;
        text-align: left;
        width: 100%;
    }
    
    .logoVideo {
        margin-bottom: 25px;
    }
    
    .logoVideo video {
        display: inline-block;
        width: 40%;
    }
    
    .logoVideo canvas {
        display: inline-block;
        width: 10%;
        margin-top: 0px;
        margin-bottom: 3.5%;
        margin-left: 17%;
    }
    
    main article p {
        margin-left: 0;
    }
    
    article {
        font-size: 17px;
    }
    
    /* ***  F O O T E R  *** */
    
    footer {
        font-size: 13px;
    }
    
    .contactEmail {
    width: 130px;
}

    .contactBulle {
    width: 95px;
    }
}
    
